<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My To Do List</h1>
<form action="/addTodoItem/" method = "post">{% csrf_token %}
    <input id="todo-input" type="text" name="content">
    <input id="todo-submit" type="submit" value="Add Todo Item">
</form>
<ul>
    {% for item in all_items %}
    <li id="todo-item-{{item.content}}">
        {{item.content}}
    </li>
    <form id="delete-todo-item-{{item.content}}" action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
    </form>
    {% endfor %}
</ul>

</body>
</html>